# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite3

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
